################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VBGrundlagen/VBOne/bin/Debug
/VBGrundlagen/VBOne/obj/Debug
/VBGrundlagen/VBOne/VBOne.vbproj.user
